<!-- course_list.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Courses - Jeevi Academy</title>
</head>
<body>
    <h1>Available Courses</h1>
    <ul>
        {% for course in courses %}
            <li>
                <strong>{{ course.title }}</strong><br>
                <small>{{ course.description }}</small>
            </li>
        {% endfor %}
    </ul>
    <a href="/">Go back to Home</a>

    {% if user.is_authenticated %}
    <a href="/courses/add/">+ Add Course</a>
{% endif %}

</body>
</html>
